/* GENERAL USER AGENT RESETS */
* {
  box-sizing: border-box;
  font-family: 'Fredoka One';
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited, a:link {
  color: #740000;
}

a.click {
  cursor: pointer;
  color: black
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; /*for android*/
}
